In [2]:
import sqlite3
import pandas as pd

In [3]:
# creating file path
dbfile = '/Users/sara/Desktop/Capstone-Cargill/CHEMBL/db/chembl_28/chembl_28_sqlite/chembl_28.db'
# creating a SQL connection to our SQLite database
con = sqlite3.connect(dbfile)

In [4]:
# creating cursor
cur = con.cursor()
# reading all table names
table_list = [a for a in cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'")]
print(table_list)

[('source',), ('confidence_score_lookup',), ('component_sequences',), ('domains',), ('chembl_id_lookup',), ('target_type',), ('bio_component_sequences',), ('version',), ('relationship_type',), ('assay_type',), ('curation_lookup',), ('variant_sequences',), ('bioassay_ontology',), ('data_validity_lookup',), ('activity_stds_lookup',), ('go_classification',), ('hrac_classification',), ('frac_classification',), ('irac_classification',), ('products',), ('patent_use_codes',), ('usan_stems',), ('protein_classification',), ('atc_classification',), ('action_type',), ('research_stem',), ('protein_family_classification',), ('organism_class',), ('structural_alert_sets',), ('activity_smid',), ('assay_classification',), ('target_dictionary',), ('component_domains',), ('cell_dictionary',), ('molecule_dictionary',), ('docs',), ('tissue_dictionary',), ('component_go',), ('product_patents',), ('protein_class_synonyms',), ('research_companies',), ('component_class',), ('defined_daily_dose',), ('component_synonyms',), ('structural_alerts',), ('activity_supp',), ('binding_sites',), ('biotherapeutics',), ('compound_records',), ('compound_properties',), ('assays',), ('molecule_hrac_classification',), ('molecule_frac_classification',), ('molecule_irac_classification',), ('target_relations',), ('molecule_atc_classification',), ('molecule_synonyms',), ('molecule_hierarchy',), ('target_components',), ('compound_structural_alerts',), ('compound_structures',), ('site_components',), ('biotherapeutic_components',), ('activities',), ('metabolism',), ('drug_mechanism',), ('drug_indication',), ('formulations',), ('assay_parameters',), ('assay_class_map',), ('drug_warning',), ('metabolism_refs',), ('predicted_binding_domains',), ('mechanism_refs',), ('indication_refs',), ('ligand_eff',), ('activity_supp_map',), ('activity_properties',), ('warning_refs',), ('sqlite_stat1',)]

In [12]:
df=pd.read_sql_query("SELECT * FROM source", con )

In [14]:
df.head(n=20)

,src_id,src_description,src_short_name
0,0,Undefined,UNDEFINED
1,1,Scientific Literature,LITERATURE
2,2,GSK Malaria Screening,GSK_TCMDC
3,3,Novartis Malaria Screening,NOVARTIS
4,4,St Jude Malaria Screening,ST_JUDE
5,5,Sanger Institute Genomics of Drug Sensitivity ...,SANGER
6,6,PDBe Ligands,PDBE
7,7,PubChem BioAssays,PUBCHEM_BIOASSAY
8,8,Clinical Candidates,CANDIDATES
9,9,Orange Book,ORANGE_BOOK
10,10,Guide to Receptors and Channels (DEPRECATED),GRAC
11,11,Open TG-GATEs,TG_GATES
12,12,Manually Added Drugs,DRUGS
13,13,USP Dictionary of USAN and International Drug ...,USP/USAN
14,14,Drugs for Neglected Diseases Initiative (DNDi),DNDI
15,15,DrugMatrix,DRUGMATRIX
16,16,GSK Published Kinase Inhibitor Set,GSK_PKIS
17,17,MMV Malaria Box,MMV_MBOX
18,18,TP-search Transporter Database,TP_TRANSPORTER
19,19,Harvard Malaria Screening,HARVARD

In [20]:
df_organism_class=pd.read_sql_query("SELECT * FROM organism_class", con )

In [23]:
df_organism_class.head(n=20)

    oc_id  tax_id          l1              l2                 l3
0       1   10030  Eukaryotes        Mammalia           Rodentia
1       2    9593  Eukaryotes        Mammalia           Primates
2       3     470    Bacteria   Gram-Negative      Acinetobacter
3       4    5475       Fungi      Ascomycota  Saccharomycetales
4       5    5660  Eukaryotes  Kinetoplastida         Leishmania
5       6    5691  Eukaryotes  Kinetoplastida        Trypanosoma
6       7    9606  Eukaryotes        Mammalia           Primates
7       8  237895  Eukaryotes     Apicomplexa    Cryptosporidium
8       9    5807  Eukaryotes     Apicomplexa    Cryptosporidium
9      10    5800  Eukaryotes     Apicomplexa            Eimeria
10     11    5801  Eukaryotes     Apicomplexa            Eimeria
11     12   51314  Eukaryotes     Apicomplexa            Eimeria
12     13    5804  Eukaryotes     Apicomplexa            Eimeria
13     14   51315  Eukaryotes     Apicomplexa            Eimeria
14     15    5802  Eukaryotes     Apicomplexa            Eimeria
15     16    5821  Eukaryotes     Apicomplexa         Plasmodium
16     17    5823  Eukaryotes     Apicomplexa         Plasmodium
17     18    5827  Eukaryotes     Apicomplexa         Plasmodium
18     19    5833  Eukaryotes     Apicomplexa         Plasmodium
19     20   36329  Eukaryotes     Apicomplexa         Plasmodium

In [ ]:
df_organism_class=pd.read_sql_query("SELECT  FROM organism_class", con )

In [25]:
df_target_dictionary=pd.read_sql_query("SELECT * FROM target_dictionary", con )
df_target_dictionary

,tid,target_type,pref_name,tax_id,organism,chembl_id,species_group_flag
0,1,SINGLE PROTEIN,Maltase-glucoamylase,9606.0,Homo sapiens,CHEMBL2074,0
1,2,SINGLE PROTEIN,Sulfonylurea receptor 2,9606.0,Homo sapiens,CHEMBL1971,0
2,3,SINGLE PROTEIN,Phosphodiesterase 5A,9606.0,Homo sapiens,CHEMBL1827,0
3,4,SINGLE PROTEIN,Voltage-gated T-type calcium channel alpha-1H ...,9606.0,Homo sapiens,CHEMBL1859,0
4,5,SINGLE PROTEIN,Nicotinic acetylcholine receptor alpha subunit,6253.0,Ascaris suum,CHEMBL1884,0
...,...,...,...,...,...,...,...
14342,119771,PROTEIN COMPLEX GROUP,Nicotinic Acetylcholine Receptor,9606.0,Homo sapiens,CHEMBL4524133,0
14343,119772,NUCLEIC-ACID,Hydroxyacid oxidase 1 mRNA,9606.0,Homo sapiens,CHEMBL4524134,0
14344,119773,ORGANISM,Naegleria gruberi,5762.0,Naegleria gruberi,CHEMBL4543332,0
14345,119774,CELL-LINE,HepG2-CD81,9606.0,Homo sapiens,CHEMBL4543887,0
14346,119775,CELL-LINE,EMRK1184,10090.0,Mus musculus,CHEMBL4569158,0

In [28]:
df_new=pd.read_sql_query("SELECT t.organism FROM target_dictionary t WHERE t.organism='Bos taurus'", con )
df_new

       organism
0    Bos taurus
1    Bos taurus
2    Bos taurus
3    Bos taurus
4    Bos taurus
..          ...
227  Bos taurus
228  Bos taurus
229  Bos taurus
230  Bos taurus
231  Bos taurus

[232 rows x 1 columns]

In [30]:
df_var_seq=pd.read_sql_query("SELECT * FROM variant_sequences", con )
df_var_seq

,variant_id,mutation,accession,version,isoform,sequence,organism,tax_id
0,-1,UNDEFINED MUTATION,None,NaN,NaN,None,None,NaN
1,100,M197L,Q2HRB6,1.0,NaN,MAQGLYVGGFVDVVSCPKLEQELYLDPDQVTDYLPVTEPLPITIEH...,Human herpesvirus 8,868565.0
2,101,R374A,Q9UM07,2.0,NaN,MAQGTLIRVTPEQPTHAVCVLGTLTQLDICSSAPEDCTSFSINASP...,Homo sapiens,9606.0
3,102,I119A,O15530,1.0,1.0,MARTTSQLYDAVPIQSSVVLCSCPSPSMVRTQTESSTPPGIPGGSR...,Homo sapiens,9606.0
4,103,K27A,Q62967,1.0,NaN,MASEKPQDLMVTCTAPVNIAVIKYWGARDEALILPINPSLSVTLHQ...,Rattus norvegicus,10116.0
...,...,...,...,...,...,...,...,...
2323,2530,H132A,P47900,1.0,1.0,MTEVLWPAVPNGTDAAFLAGPGSSWGNSTVASTAAVSSSFKCALTK...,Homo sapiens,9606.0
2324,2531,H277A,P47900,1.0,1.0,MTEVLWPAVPNGTDAAFLAGPGSSWGNSTVASTAAVSSSFKCALTK...,Homo sapiens,9606.0
2325,2532,K125A,P47900,1.0,1.0,MTEVLWPAVPNGTDAAFLAGPGSSWGNSTVASTAAVSSSFKCALTK...,Homo sapiens,9606.0
2326,2533,K196A,P47900,1.0,1.0,MTEVLWPAVPNGTDAAFLAGPGSSWGNSTVASTAAVSSSFKCALTK...,Homo sapiens,9606.0
2327,2534,K198A,P47900,1.0,1.0,MTEVLWPAVPNGTDAAFLAGPGSSWGNSTVASTAAVSSSFKCALTK...,Homo sapiens,9606.0

In [36]:
df_comp_prop=pd.read_sql_query("SELECT * FROM compound_properties", con )

In [37]:
df_comp_prop.head(n=10)

,molregno,mw_freebase,alogp,hba,hbd,psa,rtb,ro3_pass,num_ro5_violations,cx_most_apka,...,molecular_species,full_mwt,aromatic_rings,heavy_atoms,qed_weighted,mw_monoisotopic,full_molformula,hba_lipinski,hbd_lipinski,num_lipinski_ro5_violations
0,1,341.75,2.11,5.0,1.0,84.82,3.0,N,0.0,6.48,...,ACID,341.75,3.0,24.0,0.74,341.0567,C17H12ClN3O3,6.0,1.0,0.0
1,2,332.32,1.33,6.0,1.0,108.61,3.0,N,0.0,6.33,...,ACID,332.32,3.0,25.0,0.73,332.0909,C18H12N4O3,7.0,1.0,0.0
2,3,357.80,2.27,5.0,2.0,87.98,3.0,N,0.0,6.33,...,ACID,357.80,3.0,25.0,0.75,357.0880,C18H16ClN3O3,6.0,2.0,0.0
3,4,307.31,1.46,5.0,1.0,84.82,3.0,N,0.0,6.33,...,ACID,307.31,3.0,23.0,0.74,307.0957,C17H13N3O3,6.0,1.0,0.0
4,5,341.75,2.11,5.0,1.0,84.82,3.0,N,0.0,6.33,...,ACID,341.75,3.0,24.0,0.74,341.0567,C17H12ClN3O3,6.0,1.0,0.0
5,6,307.31,1.46,5.0,1.0,84.82,3.0,N,0.0,6.33,...,ACID,307.31,3.0,23.0,0.74,307.0957,C17H13N3O3,6.0,1.0,0.0
6,7,420.65,2.88,5.0,1.0,84.82,3.0,N,0.0,6.48,...,ACID,420.65,3.0,25.0,0.66,418.9672,C17H11BrClN3O3,6.0,1.0,0.0
7,8,396.62,3.11,5.0,1.0,84.82,3.0,N,0.0,6.53,...,NEUTRAL,396.62,3.0,25.0,0.69,394.9631,C16H8Cl3N3O3,6.0,1.0,0.0
8,9,405.82,1.21,7.0,1.0,118.96,4.0,N,0.0,6.48,...,ACID,405.82,3.0,27.0,0.65,405.0186,C17H12ClN3O5S,8.0,1.0,0.0
9,10,606.86,9.29,2.0,2.0,31.82,0.0,N,2.0,NaN,...,NEUTRAL,606.86,6.0,46.0,0.17,606.3712,C42H46N4+2,4.0,2.0,2.0

In [ ]:
#df_comp_j=pd.read_sql_query("SELECT * FROM compound_properties cp JOIN molecule_dictionary md where cp.molregno=md.molregno", con )

In [5]:
#closing the connection
con.close()